# History files
.Rhistory
.Rapp.history
.Rproj.user

# Session Data files
.RData

# User-specific files
.Ruserdata

# igrnore data files
Obj1_obs_size_method/Data/
Obj1_obs_size_method/Output/
Obj1_obs_size_method/Documents/